*.c
*.o
*.swp
*.bak
*~
aclocal.m4
*.anjuta
.anjuta/
.anjuta_sym_db.db
autom4te.cache/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
config.h
config.h.in
config.log
config.status
configure
depcomp
/editor_vala
/editor_vala.app
/editor_vala.h
/editor_vala.vapi
/editor_vala_internal.h
INSTALL
install-sh
Makefile
Makefile.in
missing
src/.deps/
src/Makefile.in
src/easyrpg-editor
src/easyrpg_editor_vala.stamp*
stamp-h1
