CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
/editor_vala
/editor_vala.app
/editor_vala.h
/editor_vala.vapi
/editor_vala_internal.h
*.c
*.o
*.swp
*.bak
.anjuta/
.anjuta_sym_db.db
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile.in
src/editor
src/editor_vala.stamp
stamp-h1
